.content {
    padding-top: 2%;
}

.menuitems {
    margin-right: 1%;
}

.bars {
    margin-bottom: 0;
}

#statusbar {
    background: lightblue;
}

.a-disabled {
    pointer-events: none;
    cursor: default;
}

.map-switchers {
    margin-bottom: 10px;
}

#heatmap-checkobx-group {
    margin-right: 10px;
}

