{% load staticfiles %}
{% load notification_tags %}
{% include_notify_js_variables %}

<!DOCTYPE html>
<html>
<head><title>{% block title %}Chicago PSS{% endblock %}</title>
    <script src="{% static 'pss/jquery.min.js' %}"></script>
    <script src="{% static 'pss/bootstrap.min.js' %}"></script>
    <script src="{% static 'pss/moment.min.js' %}"></script>
    <script src="{% static 'pss/daterangepicker.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'pss/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pss/css/daterangepicker.css' %}"/>

    {% block static_per_page %}{% endblock %}
</head>

<body>
<script src="{% static "notify/notifyX.js" %}"></script>
<div class="row">
    <div class="notification-box-list">
        {% if request.user.notifications.unread.count != 0 %}
            {% render_notifications using request.user.notifications.unread.prefetch %}
        {% endif %}
    </div>
</div>

<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <h2 style="padding-left:150px">Chicago PSS</h2>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <h3 style="margin-right:10px">
                            <a href="/map/">Map</a>
                        </h3>
                    </li>
                    <li>
                        <button type="button" class="btn btn-default" style="margin-right:150px;margin-top:15px">
                            <span class="glyphicon glyphicon-home"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

{% block content %}

{% endblock %}

</body>


</html>
