<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous">
    </script>
  </head>

  <body>
    <div style="clear: both">
      <div class="wrapper-footer" style="height: 160px;">
        <footer id="footerbase" class="footer sticky"
          style="bottom: 0px; position: absolute; z-index: 1000;height: 150px;">
          <div class="container footer-content">
            <div class="row">
              <div>
                <div class="im">
                  <p>
                    <span style="background-color: #000000;"></span>
                    <span style="color: #000000;">&nbsp;<span style="background-color: #000000;"></span>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
