{% extends 'base.html' %}
{% load staticfiles %}
{% block static_per_page %}
    <script>window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>
{% endblock %}
{% block content %}

    <div class="content">
        <div class="col-md-4 col-md-offset-1"><a class="twitter-timeline"
                                                 href="https://twitter.com/Chicago_Police" height="1500px">
            Tweets from the Chicago Police
        </a></div>
    </div>

    <div class="col-md-6">
        {% include 'pss/news_table.html' %}
    </div>

{% endblock %}