{% extends 'base.html' %}
{% load staticfiles %}
{% block static_per_page %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>
    <style>
{#        html, body {#}
{#            height: 100%;#}
{#            margin: 0;#}
{#            padding: 0;#}
{#        }#}

{#        #map {#}
{#            height: 100%;#}
{#        }#}

        #floating-panel {
            position: absolute;
            top: 10px;
            left: 25%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto', 'sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }
    </style>
    <script src="{% static 'pss/view_map.js' %}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDlVrFeXvJ6O2ejJz79L1etyvLlUQhDBmo&libraries=visualization,places&callback=initMap"></script>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>District patrol planning</h4>
                <form>
                    <div class="form-group">
                        <label for="reportrange">Choose a timeframe</label>
                        <div id="reportrange" class="reportrange form-control">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span id="daterange-picker-holder"></span> <b class="caret"></b>
                        </div>
                    </div>
{#                        <script>#}
{#                            $('input[name="daterange"]').daterangepicker();#}
{#                        </script>#}
                    <div class="form-group">
                        <label for="district-dropdown">Choose a police district</label>
                        <select class="form-control" id="district-dropdown">
            {#                {% for district in districts %}#}
            {#                    <option class="district-select" value="{{ district.district }}">{{ district.name }}</option>#}
            {#                {% endfor %}#}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="crime-dropdown">Base patrol route on a type of crime</label>
                        <select class="form-control" id="crime-dropdown">
                            <option value="all">All Crimes</option>
                            {% for crime in types_of_crime %}
                                <option class="crime-select" value="{{ crime }}">{{ crime }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="submit-route-query" type="button">Submit</button>
                    </div>
                </form>
            </div>
               <div class="col-lg-8">
                   <div class="map-switchers">
                       <form class="form-inline">
                            <div class="form-group" id="heatmap-checkobx-group">
                                <input id="turn-heat-on" class="js-switch" type="checkbox" checked/>
                                <label for="turn-heat-on">Show crime heatmap for the past year</label>
                            </div>
                           <div class="form-group">
                                <input id="turn-stations-on" class="js-switch" type="checkbox" checked="true"/>
                                <label for="turn-stations-on">Show police stations</label>
                            </div>
                       </form>
                   </div>
                   <div id="map" style="width:100%; height:500px"></div>
               </div>
            </div>

{#        <div class="row">#}
{#            <div class="col-lg-12">#}
{#                #}
{#            </div>#}
{#        </div>#}
    </div>

{% endblock %}

