{% extends 'base.html' %}
{% load staticfiles %}
{% block static_per_page %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>
    <script src="{% static 'pss/view_map.js' %}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlVrFeXvJ6O2ejJz79L1etyvLlUQhDBmo&libraries=visualization&callback=initMap"></script>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="form-group form-inline" id="mapcontrols">
            <div id="reportrange" class="reportrange form-control">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span id="daterange-picker-holder"></span> <b class="caret"></b>
            </div>
            <script>
                $('input[name="daterange"]').daterangepicker();
            </script>
            <select class="form-control" id="district-dropdown">
                {% for district in districts %}
                    <option class="district-select" value="{{ district.district }}">{{ district.name }}</option>
                {% endfor %}
            </select>

            <select class="form-control" id="crime-dropdown">
                <option value="all">All</option>
                {% for crime in types_of_crime %}
                    <option class="crime-select" value="{{ crime }}">{{ crime }}</option>
                {% endfor %}
            </select>
            <button id="submit-route-query" type="button" class="btn btn-secondary">Submit</button>
        </div>

    </div>
    <div class="row">
        <div id="map" class="col-md-12"></div>
    </div>
{% endblock %}

